.idea
.vs
.aspire

# TypeScript (front)
node_modules
*/build
*.map

# Deploy dev
deploy/environments/local/data
!deploy/build/

# C# (back)
bin
obj

Example.Front/dist
Example.Front/src/core/apis/backend/generated/.openapi-generator
Example.Front/src/core/apis/backend/generated/docs
Example.Front/src/core/apis/backend/generated/.gitignore
Example.Front/src/core/apis/backend/generated/.gitkeep
Example.Front/src/core/apis/backend/generated/.npmignore
Example.Front/src/core/apis/backend/generated/.openapi-generator-ignore
Example.Front/src/core/apis/backend/generated/git_push.sh

Example.Front/openapitools.json
front/src/core/apis/generated/docs
