
.Drawer {
	width: 93%;

	main {
		display: flex;
		height: 96%;
	}

	.drawer-btn {
		margin: 0.5rem 0;
	}

	.actions {
		overflow: hidden;
		user-select: none;
	}

	.content {
		padding: 1rem;
		height: 93%;

		* > {
			height: 100%;
		}
	}

}

.Drawer-hoc {
	height: 100vh;

	.header {
		padding: 0.75rem;
	}
}
